openapi: 3.0.0
info:
  title: Zee v3
  version: 1.0.0
servers:
  - url: https://api.yativo.com/api/v1
components:
  securitySchemes:
    noauthAuth:
      type: http
      scheme: noauth
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Magic Auth
  - name: Magic Auth > Registration
  - name: Auth
  - name: Auth > Business
  - name: Auth > Business > Business Config
  - name: Send money (Send from external wallet)
  - name: Send money (Yativo wallet)
  - name: Locations
  - name: User verification - shufti
  - name: Yativo Transfer
  - name: Deposit
  - name: Google 2FA
    description: >-
      ## Supported Authenticator Apps


      - [Authy for iOS, Android, Chrome, OS X](https://www.authy.com/)
          
      - [FreeOTP for iOS, Android and
      Pebble](https://apps.getpebble.com/en_US/application/52f1a4c3c4117252f9000bb8)
          
      - [Google Authenticator for
      iOS](https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8)
          
      - [Google Authenticator for
      Android](https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2)
          
      - [Google Authenticator (port) on Windows
      Store](https://www.microsoft.com/en-us/store/p/google-authenticator/9wzdncrdnkrf)
          
      - [Microsoft Authenticator for Windows
      Phone](https://www.microsoft.com/en-us/store/apps/authenticator/9wzdncrfj3rj)
          
      - [LastPass Authenticator for iOS, Android, OS X,
      Windows](https://lastpass.com/auth/)
          
      - [1Password for iOS, Android, OS X, Windows](https://1password.com/)
  - name: Beneficiaries
  - name: Beneficiaries > Payment Details
  - name: Beneficiaries > Forms
  - name: Transaction PIN
  - name: Currencies
  - name: Virtual Cards (Deprecated)
  - name: Transak
  - name: Wallet
  - name: Files
  - name: Transaction
  - name: WhatsApp OTP
  - name: IP Whitelisting
  - name: Plans
  - name: Business verification API.
  - name: Business verification API. > Balance Swap
  - name: Business verification API. > Webhook
  - name: Business verification API. > Crypto Wallets
  - name: Business verification API. > Virtual Accounts
  - name: Business verification API. > Virtual Accounts > USD-EUR Virtual Account
  - name: Business verification API. > Customers
  - name: Business verification API. > Virtual Cards
  - name: Logs
  - name: Events
  - name: Charts
paths:
  /auth/register/magic:
    post:
      tags:
        - Magic Auth > Registration
      summary: Init Registration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: towojuads@gmail.com
                base_url: https://cdq.yativo.com
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Tue, 06 Feb 2024 14:22:11 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  msg: >-
                    We have sent you a One time registration O.T.P, Please check
                    your email.
  /auth/register/complete/{token}:
    post:
      tags:
        - Magic Auth > Registration
      summary: Complete Registration
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: John Doe
                bussinessName: Doe Enterprises
                idType: passport
                idNumber: '123456789'
                verificationDocument: passport_scan.jpg
                firstName: John
                lastName: Doe
                phoneNumber: '+1234567890'
                city: New York
                state: NY
                country: USA
                zipCode: '10001'
                street: 123 Main St
                additionalInfo: Apartment 4B
                houseNumber: '123'
                email: towojuads@gmail.com
                password: '12345678'
      parameters:
        - name: token
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Tue, 06 Feb 2024 14:26:36 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 201
                message: Request successful
                data:
                  id: 2
                  name: John Doe
                  email: towojuads@gmail.com
                  bussinessName: Doe Enterprises
                  firstName: John
                  lastName: Doe
                  phoneNumber: '+1234567890'
                  city: New York
                  state: NY
                  country: USA
                  zipCode: '10001'
                  street: 123 Main St
                  additionalInfo: Apartment 4B
                  houseNumber: '123'
                  idNumber: '123456789'
                  idType: passport
                  idIssuedAt: null
                  idExpiryDate: null
                  idIssueDate: null
                  verificationDocument: passport_scan.jpg
                  email_verified_at: null
                  two_factor_confirmed_at: null
                  current_team_id: null
                  profile_photo_path: null
                  login_token: '10624'
                  login_token_created_at: '2024-02-06 14:22:01'
                  google2fa_secret: null
                  google2fa_enabled: 0
                  profile_photo_url: >-
                    https://ui-avatars.com/api/?name=J+D&color=7F9CF5&background=EBF4FF
  /auth/login/magic:
    post:
      tags:
        - Magic Auth
      summary: Init. Login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: towojuads@gmail.com
                base_url: app.yativo.com
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Tue, 06 Feb 2024 14:41:55 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  msg: >-
                    We have sent you a One time login O.T.P, Please check your
                    email.
        '401':
          description: Unauthorized
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Tue, 06 Feb 2024 14:40:58 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
              example:
                status: failed
                status_code: 401
                message: Request failed
                data:
                  email: We could not find a user with that email address.
  /auth/login/magic-login:
    post:
      tags:
        - Magic Auth
      summary: Verify Magic login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: towojuads@gmail.com
                token: 67074
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Sun, 04 Feb 2024 15:18:18 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  access_token: >-
                    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3plZS50ZXN0L2FwaS92MS9hdXRoL2xvZ2luL21hZ2ljLWxvZ2luIiwiaWF0IjoxNzA3MDU5ODk4LCJleHAiOjE3MDcwNjM0OTgsIm5iZiI6MTcwNzA1OTg5OCwianRpIjoiaVlrV21XQTU3VGpXMjNYZyIsInN1YiI6IjIiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.b0exX1ANRq3hqa0Sbh2T81kM2-_w8wR75aE7Efa-qcs
                  token_type: bearer
                  expires_in: 3600
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Sun, 04 Feb 2024 15:18:40 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
              example:
                status: failed
                status_code: 400
                message: Request failed
                data:
                  error: The magic link/code is invalid or has expired.
  /auth/register/social:
    post:
      tags:
        - Magic Auth
      summary: Social Register/Login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: John Smith
                email: social@yativo.com
                photo: https://example.com/profile-picture.jpg
                access_token: testmodekey
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Tue, 06 Feb 2024 14:38:33 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  access_token: >-
                    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3plZS50ZXN0L2FwaS92MS9hdXRoL3JlZ2lzdGVyL3NvY2lhbCIsImlhdCI6MTcwNzIzMDMxMywiZXhwIjoxNzA3MjMzOTEzLCJuYmYiOjE3MDcyMzAzMTMsImp0aSI6IjdGaUlKVlpHWlZhbE95MXgiLCJzdWIiOiIzIiwicHJ2IjoiMjNiZDVjODk0OWY2MDBhZGIzOWU3MDFjNDAwODcyZGI3YTU5NzZmNyJ9.DhOoikGOX-_-ezwZavnF-8cgBlHgrth-Wz9jt4fpGPg
                  token_type: bearer
                  expires_in: 3600
  /auth/validate-referrer-code:
    post:
      tags:
        - Magic Auth
      summary: Validate Referral code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                referred_by: 20349jr
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /business/configs:
    get:
      tags:
        - Auth > Business > Business Config
      summary: Get Business config
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /business:
    put:
      tags:
        - Auth > Business
      summary: Update Business Information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                incorporation_country: CL-N
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /business/:
    post:
      tags:
        - Auth > Business
      summary: Add Business information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                business_legal_name: Tech Innovations Inc
                business_operating_name: Tech Innovations
                incorporation_country: AR-N
                business_operation_address: 1234 Innovation Drive, Silicon Valley, CA, 94043
                entity_type: Corporation
                business_registration_number: C123456789
                business_tax_id: 98-7654321
                business_industry: Technology
                business_sub_industry: Software Development
                business_description: >-
                  A leading firm in the development of advanced software
                  solutions for enterprise clients.
                business_website: https://www.techinnovations.com
                account_purpose: Manage corporate revenues and expenses
                plan_of_use: >-
                  Regular transactions for business operations and employee
                  expenses
                is_pep_owner: false
                is_ofac_sanctioned: false
                shareholder_count: 4
                shareholders:
                  - name: John Doe
                    percentage: 25
                  - name: Jane Doe
                    percentage: 25
                  - name: Jim Beam
                    percentage: 25
                  - name: Jill Stein
                    percentage: 25
                directors_count: 2
                directors:
                  - name: John Doe
                    role: CEO
                  - name: Jane Doe
                    role: CTO
                documents:
                  - type: Certificate of Incorporation
                    url: https://www.docs.example.com/certificate.pdf
                  - type: Proof of Address
                    url: https://www.docs.example.com/address_proof.pdf
                use_case: Operational expenses and payroll
                estimated_monthly_transactions: 100-200
                estimated_monthly_payments: 50,000-100,000 USD
                is_self_use: true
                terms_agreed_date: '2024-04-24'
                other_datas:
                  additional_info: Some additional information about business activities
                  future_plans: Expansion into new markets in Q3 2024
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /business/details:
    get:
      tags:
        - Auth > Business
      summary: Get Business information
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
            Date:
              schema:
                type: string
                example: Tue, 18 Jun 2024 16:20:39 GMT
            Server:
              schema:
                type: string
                example: nginx/1.24.0
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.17
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  id: 1
                  user_id: 1
                  business_legal_name: Tech Innovations Inc
                  business_operating_name: Tech Innovations
                  incorporation_country: USA
                  business_operation_address: 1234 Innovation Drive, Silicon Valley, CA, 94043
                  entity_type: Corporation
                  business_registration_number: C123456789
                  business_tax_id: 98-7654321
                  business_industry: Technology
                  business_sub_industry: Software Development
                  business_description: >-
                    A leading firm in the development of advanced software
                    solutions for enterprise clients.
                  business_website: https://www.techinnovations.com
                  account_purpose: Manage corporate revenues and expenses
                  plan_of_use: >-
                    Regular transactions for business operations and employee
                    expenses
                  is_pep_owner: 0
                  is_ofac_sanctioned: 0
                  shareholder_count: 4
                  shareholders:
                    - name: John Doe
                      email: john@sotonye.com
                      percentage: 25
                    - name: Jane Doe
                      email: jane@sotonye.com
                      percentage: 25
                    - name: Jim Beam
                      email: jim@sotonye.com
                      percentage: 25
                    - name: Jill Stein
                      email: jill@sotonye.com
                      percentage: 25
                  directors_count: 2
                  directors:
                    - name: John Doe
                      role: CEO
                    - name: Jane Doe
                      role: CTO
                  documents:
                    - url: https://www.docs.example.com/certificate.pdf
                      type: Certificate of Incorporation
                    - url: https://www.docs.example.com/address_proof.pdf
                      type: Proof of Address
                  use_case: Operational expenses and payroll
                  estimated_monthly_transactions: 100-200
                  estimated_monthly_payments: 50,000-100,000 USD
                  is_self_use: 1
                  terms_agreed_date: '2024-04-24 00:00:00'
                  other_datas:
                    future_plans: Expansion into new markets in Q3 2024
                    additional_info: Some additional information about business activities
                  administrator: null
                  business_ubo:
                    - id: 1
                      business_id: 1
                      ubo_name: John Smith Ignite
                      ubo_email: towojuads@gmail.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/Vi7tjo4tj7OCMmz0ak4wf7ZzfXkSrHuPMVmG1zf3PVMT6GPYkRraCESEiRUW0qdP
                      ubo_verification_reference: f9638943-53eb-4d8e-b045-b2382d0dff53
                      ubo_verification_status: pending
                      is_ubo: 0
                      is_admin: 0
                    - id: 2
                      business_id: 1
                      ubo_name: John Smith Ignite
                      ubo_email: towojuads@gmail.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/8ToGvUlbNeiF5QHjgE71nqFRe5Z3x4kWuYRNkIF8c3huyBQMNuSpMB2nB29KBmiC
                      ubo_verification_reference: 0fe4ea0a-12ed-4a2c-aba6-18f7722a022e
                      ubo_verification_status: pending
                      is_ubo: 0
                      is_admin: 0
                    - id: 3
                      business_id: 1
                      ubo_name: John Smith Ignite
                      ubo_email: towojuads@gmail.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/qYZR9J4wMkFUlmzIBPvfrdeETxVhuJJ3PKW8pet5KZD5azKugU8bZCFud5kdiD04
                      ubo_verification_reference: fd4e3149-8a75-449e-9cf5-feaef884226b
                      ubo_verification_status: pending
                      is_ubo: 0
                      is_admin: 0
                    - id: 4
                      business_id: 1
                      ubo_name: John Smith Ignite
                      ubo_email: towojuads@gmail.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/wz8zM252mL7eGrjVpxGJTbEqQnU1kdZU6GIiZtXIDLkn4FTuqZ5TqLeffCceBKc1
                      ubo_verification_reference: db5bd4dd-a045-4fa2-9740-3794db40fb5e
                      ubo_verification_status: pending
                      is_ubo: 0
                      is_admin: 0
                    - id: 5
                      business_id: 1
                      ubo_name: John Smith Ignite
                      ubo_email: towojuads@gmail.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/TEScO3sqy6dRAINeYAKTxRhoekWEOvREFkk5eACwvrK5tQw9qSNCIE6CtL3g8hUU
                      ubo_verification_reference: 4c1dc60b-ce0d-4aeb-96e7-b35daf5b39dd
                      ubo_verification_status: pending
                      is_ubo: 0
                      is_admin: 0
                    - id: 6
                      business_id: 1
                      ubo_name: Hope Bernard
                      ubo_email: mfctv11@gmail.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/XrAgnl2BKWZIRHWpZv8IlU9NrV7ubZxlXOE0wTZxIGxGjJdIdkUA3438leRjUmMu
                      ubo_verification_reference: 83e98fab-b91f-459d-b517-f701cc300b96
                      ubo_verification_status: pending
                      is_ubo: 0
                      is_admin: 0
                    - id: 7
                      business_id: 1
                      ubo_name: John Doe
                      ubo_email: john@sotonye.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/Lxbm1dEuoMThK91yBWhBbHo17clwbiz4ZZuCdrf6UbS0wx6mKjqrKvh1GLdFCNkv
                      ubo_verification_reference: 9dea0cf8-a07e-4e45-8e23-08c1ef5a60c9
                      ubo_verification_status: pending
                      is_ubo: 1
                      is_admin: 0
                    - id: 8
                      business_id: 1
                      ubo_name: Jim Beam
                      ubo_email: jim@sotonye.com
                      ubo_whatsapp: null
                      ubo_position: null
                      ubo_social: null
                      ubo_verification_url: >-
                        https://app.shuftipro.com/verification/process/9ckVaDdVOmJ21oZ0febV9jaCENSpqteQCAKc3infbyyKKQ1OpbW6r8HGvSzOHQ3T
                      ubo_verification_reference: ee1bd001-c062-4659-b568-47d62c4d1dad
                      ubo_verification_status: pending
                      is_ubo: 1
                      is_admin: 0
                  preference: null
  /business/ubos:
    get:
      tags:
        - Auth > Business
      summary: Get Business UBO list
      responses:
        '200':
          description: OK
          headers:
            Host:
              schema:
                type: string
                example: 127.0.0.1:9000
            Connection:
              schema:
                type: string
                example: close
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.2.12
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Mon, 27 May 2024 12:52:58 GMT
            Content-Type:
              schema:
                type: string
                example: application/json
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Get Business information Copy
                  value:
                    status: success
                    status_code: 200
                    message: Request successful
                    data:
                      - id: 1
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/Vi7tjo4tj7OCMmz0ak4wf7ZzfXkSrHuPMVmG1zf3PVMT6GPYkRraCESEiRUW0qdP
                        ubo_verification_reference: f9638943-53eb-4d8e-b045-b2382d0dff53
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 2
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/8ToGvUlbNeiF5QHjgE71nqFRe5Z3x4kWuYRNkIF8c3huyBQMNuSpMB2nB29KBmiC
                        ubo_verification_reference: 0fe4ea0a-12ed-4a2c-aba6-18f7722a022e
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 3
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/qYZR9J4wMkFUlmzIBPvfrdeETxVhuJJ3PKW8pet5KZD5azKugU8bZCFud5kdiD04
                        ubo_verification_reference: fd4e3149-8a75-449e-9cf5-feaef884226b
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 4
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/wz8zM252mL7eGrjVpxGJTbEqQnU1kdZU6GIiZtXIDLkn4FTuqZ5TqLeffCceBKc1
                        ubo_verification_reference: db5bd4dd-a045-4fa2-9740-3794db40fb5e
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 5
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/TEScO3sqy6dRAINeYAKTxRhoekWEOvREFkk5eACwvrK5tQw9qSNCIE6CtL3g8hUU
                        ubo_verification_reference: 4c1dc60b-ce0d-4aeb-96e7-b35daf5b39dd
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 6
                        business_id: 1
                        ubo_name: Hope Bernard
                        ubo_email: mfctv11@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/XrAgnl2BKWZIRHWpZv8IlU9NrV7ubZxlXOE0wTZxIGxGjJdIdkUA3438leRjUmMu
                        ubo_verification_reference: 83e98fab-b91f-459d-b517-f701cc300b96
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                example-1:
                  summary: Get Business UBO list
                  value:
                    status: success
                    status_code: 200
                    message: Request successful
                    data:
                      - id: 1
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/Vi7tjo4tj7OCMmz0ak4wf7ZzfXkSrHuPMVmG1zf3PVMT6GPYkRraCESEiRUW0qdP
                        ubo_verification_reference: f9638943-53eb-4d8e-b045-b2382d0dff53
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 2
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/8ToGvUlbNeiF5QHjgE71nqFRe5Z3x4kWuYRNkIF8c3huyBQMNuSpMB2nB29KBmiC
                        ubo_verification_reference: 0fe4ea0a-12ed-4a2c-aba6-18f7722a022e
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 3
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/qYZR9J4wMkFUlmzIBPvfrdeETxVhuJJ3PKW8pet5KZD5azKugU8bZCFud5kdiD04
                        ubo_verification_reference: fd4e3149-8a75-449e-9cf5-feaef884226b
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 4
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/wz8zM252mL7eGrjVpxGJTbEqQnU1kdZU6GIiZtXIDLkn4FTuqZ5TqLeffCceBKc1
                        ubo_verification_reference: db5bd4dd-a045-4fa2-9740-3794db40fb5e
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 5
                        business_id: 1
                        ubo_name: John Smith Ignite
                        ubo_email: towojuads@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/TEScO3sqy6dRAINeYAKTxRhoekWEOvREFkk5eACwvrK5tQw9qSNCIE6CtL3g8hUU
                        ubo_verification_reference: 4c1dc60b-ce0d-4aeb-96e7-b35daf5b39dd
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
                      - id: 6
                        business_id: 1
                        ubo_name: Hope Bernard
                        ubo_email: mfctv11@gmail.com
                        ubo_whatsapp: null
                        ubo_position: null
                        ubo_social: null
                        ubo_verification_url: >-
                          https://app.shuftipro.com/verification/process/XrAgnl2BKWZIRHWpZv8IlU9NrV7ubZxlXOE0wTZxIGxGjJdIdkUA3438leRjUmMu
                        ubo_verification_reference: 83e98fab-b91f-459d-b517-f701cc300b96
                        ubo_verification_status: pending
                        is_ubo: 0
                        is_admin: 0
  /business/notify-ubo:
    post:
      tags:
        - Auth > Business
      summary: Send Notification to UBO
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                email: jsmith@yativo.com
                name: Janet smith
                business_id: 1
                is_admin: true
                is_ubo: false
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /auth/register:
    post:
      tags:
        - Auth
      summary: Regsiter
      description: >-
        ### Register User


        This endpoint allows the client to register a new user with the provided
        details.


        - The request should be sent as an HTTP POST to `{{host}}/auth/register`
            

        #### Request Body


        - `name` (text, required): The name of the user.

        - `businessName` (text, required): The name of the user's business.

        - `idType` (text, required): Type of identification.

        - `idNumber` (text, required): Identification number.

        - `verificationDocument` (text, required): Verification document.

        - `firstName` (text, required): First name of the user.

        - `lastName` (text, required): Last name of the user.

        - `phoneNumber` (text, required): Phone number of the user.

        - `city` (text, required): City of residence.

        - `state` (text, required): State of residence.

        - `country` (text, required): Country of residence.

        - `zipCode` (text, required): Zip code of the user's location.

        - `street` (text, required): Street name.

        - `additionalInfo` (text, required): Additional information about the
        user's address.

        - `houseNumber` (text, required): House number of the user's address.

        - `email` (text, required): Email address of the user.

        - `password` (text, required): User's chosen password.
            

        #### Response


        - `status` (text): The status of the registration request.

        - `status_code` (number): The status code of the response.

        - `message` (text): A message regarding the status of the registration
        request.

        - `data` (object): The data object containing the message and user
        details.
            - `message` (text): A message confirming the successful registration.
            - `user` (object): Details of the registered user.
                - `name` (text): The name of the registered user.
                - `businessName` (text): The name of the user's business.
                - `city` (text): City of residence of the user.
                - `state` (text): State of residence of the user.
                - `country` (text): Country of residence of the user.
                - `email` (text): Email address of the user.
                - `id` (number): Unique ID of the registered user.
                - `profile_photo_url` (text): URL for the user's profile photo.

        #### Example Response


        ``` json

        {
            "status": "success",
            "status_code": 201,
            "message": "Request successful",
            "data": {
                "message": "User registered successfully",
                "user": {
                    "name": "John Doe",
                    "businessName": "Doe Enterprises",
                    "city": "New York",
                    "state": "NY",
                    "country": "USA",
                    "email": "john.doe@example.com",
                    "id": 2,
                    "profile_photo_url": "https://ui-avatars.com/api/?name=J+D&color=7F9CF5&background=EBF4FF"
                }
            }
        }

         ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: John Doe
                bussinessName: Doe Enterprises
                idType: passport
                idNumber: '123456789'
                verificationDocument: passport_scan.jpg
                firstName: John
                lastName: Doe
                phoneNumber: '+1234567890'
                city: New York
                state: NY
                country: USA
                zipCode: '10001'
                street: 123 Main St
                additionalInfo: Apartment 4B
                houseNumber: '123'
                email: john@yativo.com
                password: '12345678'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Wed, 10 Jan 2024 10:28:45 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 201
                message: Request successful
                data:
                  message: User registered successfully
                  user:
                    name: John Doe
                    bussinessName: Doe Enterprises
                    city: New York
                    state: NY
                    country: USA
                    email: john.doe@example.com
                    id: 2
                    profile_photo_url: >-
                      https://ui-avatars.com/api/?name=J+D&color=7F9CF5&background=EBF4FF
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login
      description: >-
        ## Auth Login


        This endpoint is used to authenticate a user and obtain an access token
        for further API requests.


        ### Request Body


        - `email` (text) - The email of the user for authentication.

        - `password` (text) - The password of the user for authentication.
            

        ### Response


        - `status` - The status of the authentication request.

        - `status_code` - The status code of the response.

        - `message` - A message indicating the result of the authentication
        request.

        - `data` - An object containing the access token details:
            - `access_token` - The token used for authentication in subsequent requests.
            - `token_type` - The type of token.
            - `expires_in` - The duration in seconds for which the token is valid.

        #### Example Response


        ``` json

        {
            "status": "success",
            "status_code": 200,
            "message": "Request successful",
            "data": {
                "access_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...",
                "token_type": "bearer",
                "expires_in": 3600
            }
        }

         ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                account_id: DG93B2P1YWRZQGDTYWLSLMNVBQ==
                app_secret: '12345678'
      security:
        - noauthAuth: []
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Wed, 10 Jan 2024 15:50:57 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  access_token: >-
                    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3plZS50ZXN0L2FwaS92MS9hdXRoL2xvZ2luIiwiaWF0IjoxNzA0OTAxODU3LCJleHAiOjE3MDQ5MDU0NTcsIm5iZiI6MTcwNDkwMTg1NywianRpIjoiRGFyR1RpUkFVZElFdThEZiIsInN1YiI6IjEiLCJwcnYiOiIyM2JkNWM4OTQ5ZjYwMGFkYjM5ZTcwMWM0MDA4NzJkYjdhNTk3NmY3In0.KtjKgURXSVuWfgtQFvpqo19hb0yCuI4Nijzb_hRw1D4
                  token_type: bearer
                  expires_in: 3600
  /profile:
    put:
      tags:
        - Auth
      summary: Update profile
      description: >-
        # Update User Profile


        This endpoint allows the user to update their profile information.


        ## Request Body


        - `name` (string, optional): The user's full name.

        - `bussinessName` (string, optional): The name of the user's business.

        - `firstName` (string, optional): The user's first name.

        - `lastName` (string, optional): The user's last name.

        - `phoneNumber` (string, optional): The user's phone number.

        - `city` (string, optional): The city of the user's address.

        - `state` (string, optional): The state of the user's address.

        - `country` (string, optional): The country of the user's address.

        - `zipCode` (string, optional): The zip code of the user's address.

        - `street` (string, optional): The street of the user's address.

        - `additionalInfo` (string, optional): Additional information about the
        user's address.

        - `houseNumber` (string, optional): The house number of the user's
        address.

        - `idNumber` (string, optional): The user's ID number.

        - `idType` (string, optional): The type of ID.

        - `idIssuedAt` (string, optional): The place where the ID was issued.

        - `idExpiryDate` (string, optional): The expiry date of the ID.

        - `idIssueDate` (string, optional): The issue date of the ID.
            

        ## Response


        - `status` (string): The status of the response.

        - `status_code` (integer): The status code of the response.

        - `message` (string): A message related to the response.

        - `data` (object): The data object containing the response information.
            - `message` (string): A message related to the data.
            - `user` (object): The user object containing updated profile information.
                - `id` (integer): The user's ID.
                - `name` (string): The user's name.
                - `email` (string): The user's email.
                - `bussinessName` (string): The user's business name.
                - `firstName` (string): The user's first name.
                - `lastName` (string): The user's last name.
                - `phoneNumber` (string): The user's phone number.
                - `city` (string): The city of the user's address.
                - `state` (string): The state of the user's address.
                - `country` (string): The country of the user's address.
                - `zipCode` (string): The zip code of the user's address.
                - `street` (string): The street of the user's address.
                - `additionalInfo` (string): Additional information about the user's address.
                - `houseNumber` (string): The house number of the user's address.
                - `idNumber` (string): The user's ID number.
                - `idType` (string): The type of ID.
                - `idIssuedAt` (string): The place where the ID was issued.
                - `idExpiryDate` (string): The expiry date of the ID.
                - `idIssueDate` (string): The issue date of the ID.
                - `verificationDocument` (string): The verification document for the user.
                - `email_verified_at` (string): The date and time of email verification.
                - `two_factor_confirmed_at` (string): The date and time of two-factor authentication confirmation.
                - `current_team_id` (string): The ID of the current team.
                - `profile_photo_path` (string): The path to the user's profile photo.
                - `login_token` (string): The user's login token.
                - `login_token_created_at` (string): The date and time when the login token was created.
                - `google2fa_secret` (string): The user's Google 2FA secret.
                - `google2fa_enabled` (integer): The status of Google 2FA (0 or 1).
                - `profile_photo_url` (string): The URL of the user's profile photo.

        ## Example


        ``` json

        {
            "status": "success",
            "status_code": 200,
            "message": "Request successful",
            "data": {
                "message": "Profile updated successfully",
                "user": {
                    "id": 2,
                    "name": "xoxo",
                    "email": "john@yativo.com",
                    "bussinessName": "xoxo",
                    "firstName": "John",
                    "lastName": "Doe",
                    "phoneNumber": "09039395114",
                    "city": "Ilorin",
                    "state": "Kwara",
                    "country": "Nigeria",
                    "zipCode": "240241",
                    "street": "John doe, street, lukaku estate",
                    "additionalInfo": "Apartment 4B",
                    "houseNumber": "3",
                    "idNumber": "A107000098",
                    "idType": "passport",
                    "idIssuedAt": "Kogi",
                    "idExpiryDate": "24-01/2024",
                    "idIssueDate": "23-01-2023",
                    "verificationDocument": "passport_scan.jpg",
                    "email_verified_at": null,
                    "two_factor_confirmed_at": null,
                    "current_team_id": null,
                    "profile_photo_path": null,
                    "login_token": "52437",
                    "login_token_created_at": "2024-02-06 14:41:48",
                    "google2fa_secret": null,
                    "google2fa_enabled": 0,
                    "profile_photo_url": "https://ui-avatars.com/api/?name=x&color=7F9CF5&background=EBF4FF"
                }
            }
        }

         ```
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                registration_country: CHL
                is_pnd: true
                user_type: individual
                occupation: Software developer
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Sat, 17 Feb 2024 16:01:36 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  message: Profile updated successfully
                  user:
                    id: 2
                    name: xoxo
                    email: john@yativo.com
                    bussinessName: xoxo
                    firstName: John
                    lastName: Doe
                    phoneNumber: '09039395114'
                    city: Ilorin
                    state: Kwara
                    country: Nigeria
                    zipCode: '240241'
                    street: John doe, street, lukaku estate
                    additionalInfo: Apartment 4B
                    houseNumber: '3'
                    idNumber: A107000098
                    idType: passport
                    idIssuedAt: Kogi
                    idExpiryDate: 24-01/2024
                    idIssueDate: 23-01-2023
                    verificationDocument: passport_scan.jpg
                    email_verified_at: null
                    two_factor_confirmed_at: null
                    current_team_id: null
                    profile_photo_path: null
                    login_token: '52437'
                    login_token_created_at: '2024-02-06 14:41:48'
                    google2fa_secret: null
                    google2fa_enabled: 0
                    profile_photo_url: >-
                      https://ui-avatars.com/api/?name=x&color=7F9CF5&background=EBF4FF
    get:
      tags:
        - Auth
      summary: Get profile
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Fri, 12 Jan 2024 08:10:05 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  id: 1
                  name: John Doe
                  bussinessName: Doe Enterprises
                  idNumber: null
                  idType: null
                  firstName: null
                  lastName: null
                  phoneNumber: null
                  city: New York
                  state: NY
                  country: USA
                  zipCode: null
                  street: null
                  additionalInfo: null
                  houseNumber: null
                  verificationDocument: null
                  email: john.doe@example.com
                  email_verified_at: null
                  two_factor_confirmed_at: null
                  current_team_id: null
                  profile_photo_path: null
                  profile_photo_url: >-
                    https://ui-avatars.com/api/?name=J+D&color=7F9CF5&background=EBF4FF
  /is-pin-set:
    get:
      tags:
        - Auth
      summary: Check Transaction Pin Status
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Fri, 12 Jan 2024 08:10:05 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  id: 1
                  name: John Doe
                  bussinessName: Doe Enterprises
                  idNumber: null
                  idType: null
                  firstName: null
                  lastName: null
                  phoneNumber: null
                  city: New York
                  state: NY
                  country: USA
                  zipCode: null
                  street: null
                  additionalInfo: null
                  houseNumber: null
                  verificationDocument: null
                  email: john.doe@example.com
                  email_verified_at: null
                  two_factor_confirmed_at: null
                  current_team_id: null
                  profile_photo_path: null
                  profile_photo_url: >-
                    https://ui-avatars.com/api/?name=J+D&color=7F9CF5&background=EBF4FF
  /auth/refresh-token:
    get:
      tags:
        - Auth
      summary: Generate API refresh token
      description: >-
        This endpoint sends an HTTP GET request to refresh the authentication
        token. It does not require any request body. The response will have a
        status code of 200, along with a JSON object containing the updated
        access token, token type, and expiration time.
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Sun, 14 Jan 2024 08:28:31 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '59'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                status: success
                status_code: 200
                message: Request successful
                data:
                  access_token: >-
                    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL3plZS50ZXN0L2FwaS92MS9hdXRoL3JlZnJlc2gtdG9rZW4iLCJpYXQiOjE3MDUyMjA3NDYsImV4cCI6MTcwNTIyNDUxMSwibmJmIjoxNzA1MjIwOTExLCJqdGkiOiJhWFJUWEFrTENiNlV1bTlIIiwic3ViIjoiMSIsInBydiI6IjIzYmQ1Yzg5NDlmNjAwYWRiMzllNzAxYzQwMDg3MmRiN2E1OTc2ZjcifQ.J0WIXlBnt59jtE5rmzWV1z8IBA_E5pCJFsntg9Yhy6k
                  token_type: bearer
                  expires_in: 3600
  /generate-secret:
    get:
      tags:
        - Auth
      summary: Generate new app secret
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /account/delete:
    delete:
      tags:
        - Auth
      summary: Delete Account
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /sendmoney:
    post:
      tags:
        - Send money (Send from external wallet)
      summary: Send money
      description: >-
        ### Send Money


        This endpoint makes an HTTP POST request to send money. The request body
        should be in raw format with a JSON payload containing a `quote_id`
        field.


        ## **NOTE: if currency is in the array below**


        **Example Request:**


        ```

        {
            "quote_id": ""
        }

         ```

        **Response:**


        - Status: 200

        - `status` (string): Indicates the status of the request, e.g.,
        "success".

        - `status_code` (integer): The status code of the response, e.g., 200.

        - `message` (string): A message indicating the result of the request,
        e.g., "Request successful".

        - `data` (object): Contains the link and quote details.
            - `link` (string): The link for the payment process.
            - `quote` (object): Contains detailed information about the quote.
                - `id` (integer): The ID of the quote.
                - `user_id` (integer): The ID of the user.
                - `action` (string): The action, e.g., "send_money".
                - `send_amount` (integer): The amount to be sent.
                - `receive_amount` (integer): The amount to be received.
                - `send_gateway` (string): The gateway for sending money.
                - `receive_gateway` (string): The gateway for receiving money.
                - `send_currency` (string): The currency for sending money.
                - `receive_currency` (string): The currency for receiving money.
                - `transfer_purpose` (string): The purpose of the transfer.
                - `raw_data` (object): Raw data related to the quote.
                - `created_at` (string): The creation timestamp of the quote.
                - `updated_at` (string): The update timestamp of the quote.
                - `deleted_at` (string): The deletion timestamp of the quote, if applicable.

        **Note:** The actual values may vary based on the specific request and
        response.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                quote_id: '2183'
                bank_code: Banco Invex
                bank_name: '059'
                account_type: C
                account_number: '837462910548'
                document_id: LEKF8104019Z5
                document_type: RFC
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.4
            Content-Type:
              schema:
                type: string
                example: application/json
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: PHP/8.1.23
            Cache-Control:
              schema:
                type: string
                example: no-cache, private
            Date:
              schema:
                type: string
                example: Sun, 14 Jan 2024 07:49:42 GMT
            X-RateLimit-Limit:
              schema:
                type: integer
                example: '60'
            X-RateLimit-Remaining:
              schema:
                type: integer
                example: '58'
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Send money - Flutterwave sample
                  value:
                    status: success
                    status_code: 200
                    message: Request successful
                    data:
                      link: >-
                        https://ravemodal-dev.herokuapp.com/v3/hosted/pay/0f93c32d6534cea99faf
                      quote:
                        id: 2114
                        user_id: 1
                        action: send_money
                        send_amount: 3000
                        receive_amount: 2500
                        send_gateway: flutterwave
                        receive_gateway: paypal
                        send_currency: USD
                        receive_currency: NGN
                        transfer_purpose: School fees
                        rate: null
                        total_amount: null
                        raw_data:
                          action: send_money
                          send_amount: 3000
                          receive_amount: 2500
                          send_gateway: flutterwave
                          receive_gateway: paypal
                          send_currency: USD
                          receive_currency: NGN
                          transfer_purpose: School fees
                        created_at: '2024-01-13T23:35:06.000000Z'
                        updated_at: '2024-01-13T23:35:06.000000Z'
                        deleted_at: null
                example-1:
                  summary: CoinPayments sample response
                  value:
                    status: success
                    status_code: 200
                    message: Request successful
                    data:
                      link:
                        amount: '37.39952000'
                        txn_id: CPIA38MTMCV9WRFGTVENGKJXXJ
                        address: '0x39fe531fce1ae84a60677ef7e7c1d980de05597a'
                        confirms_needed: '3'
                        timeout: 10800
                        checkout_url: >-
                          https://www.coinpayments.net/index.php?cmd=checkout&id=CPIA38MTMCV9WRFGTVENGKJXXJ&key=82aa4d6186d4390396c353630144d01c
                        status_url: >-
                          https://www.coinpayments.net/index.php?cmd=status&id=CPIA38MTMCV9WRFGTVENGKJXXJ&key=82aa4d6186d4390396c353630144d01c
                        qrcode_url: >-
                          https://www.coinpayments.net/qrgen.php?id=CPIA38MTMCV9WRFGTVENGKJXXJ&key=82aa4d6186d4390396c353630144d01c
                      quote:
                        id: 2131
                        user_id: 1
                        action: send_money
                        send_amount: 30
                        receive_amount: 24
                        send_gateway: coinpayment
                        receive_gateway: monnet
                        send_currency: EUR
                        receive_currency: GBP
                        transfer_purpose: School fees
                        rate: null
                        total_amount: null
                        raw_data:
                          action: send_money
                          send_amount: 30
                          receive_amount: 24
                          send_gateway: coinpayment
                          receive_gateway: monnet
                          send_currency: EUR
                          receive_currency: GBP
                          transfer_purpose: School fees
                        created_at: '2024-01-23T15:07:21.000000Z'
                        updated_at: '2024-01-23T15:07:21.000000Z'
                        deleted_at: null
                example-2:
                  summary: Monnet (MXN)
                  value:
                    status: success
                    status_code: 200
                    message: Request successful
                    data:
                      link: >-
                        https://cert.monnetpayments.com/api-payin/v3/bt-voucher/token/8e216197-80aa-4599-953a-8a7733701677
                      quote:
                        id: 2113
                        user_id: 1
                        beneficiary_id: 1
                        action: send_money
                        send_amount: 1030
                        receive_amount: 24
                        send_gateway: monnet
                        send_currency: MXN
                        receive_gateway: monnet
                        payment_method_id: '2'
                        exchange_rate: null
                        receive_currency: MXN
                        transfer_purpose: School fees
                        rate: 0
                        total_amount: null
                        status: pending_payin
                        fee: null
                        charges: null
                        raw_data:
                          id: 2113
                          fee: null
                          rate: 0
                          action: send_money
                          charges: null
                          user_id: 1
                          currency:
                            id: 7
                            wallet: MXN
                            logo_url: >-
                              https://yativo.com/wp-content/uploads/2024/03/Yativo-42x43_090555.png
                            created_at: '2024-04-12T19:00:55.000000Z'
                            deleted_at: null
                            updated_at: '2024-04-12T19:00:55.000000Z'
                            balance_type: fiat
                            main_balance: 0
                            currency_icon: MX$
                            currency_name: Mexican Peso
                            decimal_places: '2'
                            ledger_balance: 0
                            currency_full_name: Mexican Peso
                          raw_data:
                            action: send_money
                            ip_address: 127.0.0.1
                            send_amount: 1030
                            send_gateway: monnet
                            send_currency: MXN
                            beneficiary_id: 1
                            receive_amount: 24
                            transfer_purpose: School fees
                            payment_method_id: 2
                          created_at: '2024-04-16T16:54:14.000000Z'
                          deleted_at: null
                          updated_at: '2024-04-16T16:54:14.000000Z'
                          beneficiary:
                            id: 1
                            country: Nigeria
                            user_id: 1
                            created_at: '2024-04-11T12:08:48.000000Z'
                            deleted_at: null
                            updated_at: '2024-04-11T12:08:48.000000Z'
                            customer_name: John Doe
                            customer_email: john@yativo.com
                            recipient_type: individual
                            customer_address:
                              city: Ikeja
                              county: Lagos
                              postal_code: 900901
                              address_line_1: 1st episode john doe street
                              address_line_2: this can be null
                            customer_nickname: John Doe
                          payout_info:
                            id: 3
                            slug: monnet
                            payout: 1
                            status: 1
                            deposit: 1
                            gateway_name: Monnet
                            payin_currencies:
                              - CLP
                              - MXN
                              - PEN
                            payout_currencies:
                              - CLP
                              - MXN
                              - PEN
                          send_amount: 1030
                          send_gateway: monnet
                          total_amount: null
                          exchange_rate: null
                          send_currency: MXN
                          beneficiary_id: 1
                          receive_amount: 24
                          receive_gateway: monnet
                          receive_currency: MXN
                          transfer_purpose: School fees
                          payment_method_id: '2'
                        created_at: '2024-04-16T16:54:14.000000Z'
                        updated_at: '2024-04-16T16:54:24.000000Z'
                        deleted_at: null
                example-3:
                  summary: ETPay - APMs
                  value:
                    status: success
                    status_code: 200
                    message: Request successful
                    data:
                      link:
                        deposit_url: >-
                          https://web-checkout.stage.localpayment.com/redirect/aHR0cHM6Ly9wbXQtc2FuZGJveC5ldHBheS5jb20vc2Vzc2lvbi9EQjBmczlHSURFbUFxTTV6blJuZUFFNFNTSnRmbnA2NUhnN2Z6Y0o4RGIzTHZHc0gxUmNjeE5tSGQ0bmFvVFJi
                        deposit_data:
                          quote_id: '2140'
                          status: pending
                          updated_at: '2024-08-01T00:00:23.000000Z'
                          created_at: '2024-08-01T00:00:23.000000Z'
                          id: 393
                        payment_info:
                          send_amount: 90
                          exchange_rate: 1
                          transaction_fee: 1
                          payment_method: Bank Transfer
                          total_amount_due: 1000
                      quote:
                        id: 2140
                        user_id: 9
                        beneficiary_id: 6
                        action: null
                        send_amount: 90
                        receive_amount: null
                        send_gateway:
                          id: 216
                          method_name: Bank Transfer (Fintoc)
                          gateway: local_payment
                          country: CHL
                          currency: CLP
                          payment_mode: apm
                          payment_mode_code: null
                          charges_type: combined
                          fixed_charge: '1'
                          float_charge: '6'
                          settlement_time: '168'
                          pro_fixed_charge: '0'
                          pro_float_charge: '6'
                          minimum_deposit: '50'
                          maximum_deposit: '200000'
                          minimum_charge: '3'
                          maximum_charge: '100'
                          cutoff_hrs_start: null
                          cutoff_hrs_end: null
                          Working_hours_start: '10'
                          Working_hours_end: '19'
                          required_extra_data: null
                        send_currency: null
                        receive_gateway: null
                        payment_method_id: '17'
                        exchange_rate: null
                        receive_currency: usd
                        transfer_purpose: Payout request from Emmanuel
                        rate: 0
                        total_amount: 90
                        status: pending_payin
                        fee: null
                        charges: null
                        raw_data:
                          id: 2140
                          fee: null
                          rate: 0
                          action: null
                          status: pending_payin
                          charges: null
                          user_id: 9
                          currency: usd
                          raw_data:
                            ip_address: 127.0.0.1
                            send_amount: 90
                            send_gateway: 216
                            exchange_rate: 0
                            beneficiary_id: 6
                            transfer_purpose: Payout request from Emmanuel
                            payment_method_id: 17
                          created_at: '2024-07-31T19:07:46.000000Z'
                          deleted_at: null
                          updated_at: '2024-07-31T19:07:46.000000Z'
                          beneficiary:
                            id: 6
                            country: Nigeria
                            user_id: 9
                            created_at: '2024-07-25T18:59:22.000000Z'
                            updated_at: '2024-07-25T18:59:22.000000Z'
                            is_archived: 0
                            customer_name: John Doe
                            customer_email: john@yativo.com
                            recipient_type: individual
                            customer_address:
                              city: Ikeja
                              county: Lagos
                              postal_code: 900901
                              address_line_1: 1st episode john doe street
                              address_line_2: this can be null
                            customer_nickname: John Doe
                          payout_info:
                            id: 331
                            country: usa
                            currency: usd
                            method_name: Estados Unidos
                            charges_type: combined
                            fixed_charge: '1'
                            float_charge: '1.5'
                            payment_mode: bankTransfer
                            cutoff_hrs_end: null
                            maximum_charge: '600'
                            minimum_charge: '6'
                            cutoff_hrs_start: null
                            pro_fixed_charge: '0'
                            pro_float_charge: '1'
                            estimated_delivery: '48'
                            maximum_withdrawal: '20000'
                            minimum_withdrawal: '50'
                            payment_method_code: null
                          send_amount: 90
                          send_gateway:
                            id: 216
                            country: CHL
                            gateway: local_payment
                            currency: CLP
                            method_name: Bank Transfer (Fintoc)
                            charges_type: combined
                            fixed_charge: '1'
                            float_charge: '6'
                            payment_mode: apm
                            cutoff_hrs_end: null
                            maximum_charge: '100'
                            minimum_charge: '3'
                            maximum_deposit: '200000'
                            minimum_deposit: '50'
                            settlement_time: '168'
                            cutoff_hrs_start: null
                            pro_fixed_charge: '0'
                            pro_float_charge: '6'
                            Working_hours_end: '19'
                            payment_mode_code: null
                            Working_hours_start: '10'
                            required_extra_data: null
                          total_amount: 90
                          exchange_rate: null
                          send_currency: null
                          beneficiary_id: 6
                          receive_amount: null
                          receive_gateway: null
                          receive_currency: usd
                          transfer_purpose: Payout request from Emmanuel
                          payment_method_id: '17'
                        created_at: '2024-07-31T19:07:46.000000Z'
                        updated_at: '2024-07-31T19:07:53.000000Z'
                        deleted_at: null
                example-4:
                  summary: 'QR: Send money'
                  value:
                    status: success
                    status_code: 200
                    message: Request successful
                    data:
                      link:
                        deposit_url:
                          qr:
                            image: >-
                              https://web-checkout.stage.localpayment.com/api/og?internalId=0b87c80c-e523-4da8-b57d-f84c50acb2e2
                            code: >-
                              {"TYP":20,"v":{"DEV":"00000161803561219721/2"},"ic":{"IDC":"3101362d97","SER":90716540,"ENC":"IneG2nIJd6kt/9kIx0Qoo93Lqv2vdmAHiVMPn0Gch3UQkbv4sH45fEZab+O/VtvdEmL/rTxG5HIPCL3ui62dVGJPgL0sWp8La+z0JhTcGS2BGyzKaDhM/nmFKdoe+Lul2WbyhF/rJWLr2Z+9V2kpsYdDGn7PzXOJ7Bjjkh2sgeyqONWMpzeXxVdTmF5HO4aBZkG2nP73aTqPAWlQcjME8JnqMlZVtIv3X4WCVLuhjqFLsBai1YEMnjQN73FOFEQAvol0sS+UfSl5OMOl+3L+iFzFXw5xgqFFj0IB58lYKIQ0vLitNhHxNXJv4oADbmq/tN4q04Emu1Me6F2sCLQso9bkEr3dNM7RgXjsEy9Frfw="},"CRY":"iqA2chUxemIpTrBAoD9ytCJEQI8b+/sUSUBtPBQ1zrA="}
                            expirationDate: '2024-08-08T12:49:27.3958601'
                            currency: MXN
                            fxQuote: 1
                            financingFee: 0
                            amount: 90
                        deposit_data:
                          quote_id: '2139'
                          status: pending
                          updated_at: '2024-08-01T12:49:23.000000Z'
                          created_at: '2024-08-01T12:49:23.000000Z'
                          id: 415
                        payment_info:
                          send_amount: 90
                          exchange_rate: 1
                          transaction_fee: 1
                          payment_method: Bank Transfer
                          total_amount_due: 1000
                      quote:
                        id: 2139
                        user_id: 9
                        beneficiary_id: 6
                        action: null
                        send_amount: 90
                        receive_amount: null
                        send_gateway:
                          id: 64
                          method_name: Banorte
                          gateway: local_payment
                          country: mex
                          currency: MXN
                          payment_mode: bankTransfer
                          payment_mode_code: null
                          charges_type: combined
                          fixed_charge: '1'
                          float_charge: '1'
                          settlement_time: '0.5'
                          pro_fixed_charge: '0'
                          pro_float_charge: '1'
                          minimum_deposit: '1'
                          maximum_deposit: '10000000'
                          minimum_charge: '1'
                          maximum_charge: '1000'
                          cutoff_hrs_start: null
                          cutoff_hrs_end: null
                          Working_hours_start: null
                          Working_hours_end: null
                          required_extra_data:
                            bank_code:
                              type: dropdown
                              required: true
                            bank_name:
                              type: dropdown
                              required: true
                            account_type:
                              type: dropdown
                              required: true
                            account_number:
                              type: text
                              required: true
                        send_currency: null
                        receive_gateway: null
                        payment_method_id: '17'
                        exchange_rate: null
                        receive_currency: usd
                        transfer_purpose: Payout request from Emmanuel
                        rate: 0
                        total_amount: 90
                        status: pending_payin
                        fee: null
                        charges: null
                        raw_data:
                          id: 2139
                          fee: null
                          rate: 0
                          action: null
                          status: pending_payin
                          charges: null
                          user_id: 9
                          currency: usd
                          raw_data:
                            ip_address: 127.0.0.1
                            send_amount: 90
                            send_gateway: 64
                            exchange_rate: 0
                            beneficiary_id: 6
                            transfer_purpose: Payout request from Emmanuel
                            payment_method_id: 17
                          created_at: '2024-07-31T17:31:28.000000Z'
                          deleted_at: null
                          updated_at: '2024-07-31T17:31:28.000000Z'
                          beneficiary:
                            id: 6
                            country: Nigeria
                            user_id: 9
                            created_at: '2024-07-25T18:59:22.000000Z'
                            updated_at: '2024-07-25T18:59:22.000000Z'
                            is_archived: 0
                            customer_name: John Doe
                            customer_email: john@yativo.com
                            recipient_type: individual
                            customer_address:
                              city: Ikeja
                              county: Lagos
                              postal_code: 900901
                              address_line_1: 1st episode john doe street
                              address_line_2: this can be null
                            customer_nickname: John Doe
                          payout_info:
                            id: 331
                            country: usa
                            currency: usd
                            method_name: Estados Unidos
                            charges_type: combined
                            fixed_charge: '1'
                            float_charge: '1.5'
                            payment_mode: bankTransfer
                            cutoff_hrs_end: null
                            maximum_charge: '600'
                            minimum_charge: '6'
                            cutoff_hrs_start: null
                            pro_fixed_charge: '0'
                            pro_float_charge: '1'
                            estimated_delivery: '48'
                            maximum_withdrawal: '20000'
                            minimum_withdrawal: '50'
                            payment_method_code: null
                          send_amount: 90
                          send_gateway:
                            id: 64
                            country: mex
                            gateway: local_payment
                            currency: MXN
                            method_name: Banorte
                            charges_type: combined
                            fixed_charge: '1'
                            float_charge: '1'
                            payment_mode: bankTransfer
                            cutoff_hrs_end: null
                            maximum_charge: '1000'
                            minimum_charge: '1'
                            maximum_deposit: '10000000'
                            minimum_deposit: '1'
                            settlement_time: '0.5'
                            cutoff_hrs_start: null
                            pro_fixed_charge: '0'
                            pro_float_charge: '1'
                            Working_hours_end: null
                            payment_mode_code: null
                            Working_hours_start: null
                            required_extra_data:
                              bank_code:
                                type: dropdown
                                required: true
                              bank_name:
                                type: dropdown
                                required: true
                              account_type:
                                type: dropdown
                                required: true
                              account_number:
                                type: text
                                required: true
[...]
